{% if paginator.total_pages > 1 %}
{% assign pagination_config = page.pagination | default: site.pagination %}
{% assign paginate_path = pagination_config.permalink | default: site.paginate_path %}
{% assign first_page_path = paginator.first_page_path | default: page.url %}
{% assign last_page_path = paginator.last_page_path | default: paginate_path %}
<div class="pagination" data-testid="blog-pagination">
    <div class="previous">
        
        {% if paginator.previous_page and paginator.previous_page != 1%}
        <!-- << -->
        <a aria-label="{{ site.data.language.str_previous_page | default: 'Prev' }}" href="{{ first_page_path | relative_url }}" class="button">
            <span><i class="fas fa-angle-double-left"></i></span>
        </a>
        {% endif %}
        
        <!-- < previous -->
        <a aria-label="{{ site.data.language.str_previous_page | default: 'Prev' }}" href="{{ paginator.previous_page_path | relative_url }}"
           {% unless paginator.previous_page %}style="visibility:hidden"{% endunless %} class="button">
            <span><i class="fas fa-chevron-left"></i></span>
            {{ site.data.language.str_previous_page | default: "Prev" }}
        </a>
    </div>

    <div class="page_number">
        {{ paginator.page }} / {{ paginator.total_pages }}
    </div>

    <div class="next">
        
        <!-- next > -->
        <a aria-label="{{ site.data.language.str_next_page | default: 'Next' }}" href="{{ paginator.next_page_path | relative_url }}"
           {% unless paginator.next_page %}style="visibility:hidden"{% endunless %} class="button">
            {{ site.data.language.str_next_page | default: "Next" }}
            <span><i class="fas fa-chevron-right"></i></span>
        </a>

        {% if paginator.next_page and paginator.next_page != paginator.total_pages and last_page_path %}
        <!-- >> -->
        <a aria-label="{{ site.data.language.str_next_page | default: 'Next' }}"
        href="{{ last_page_path | replace: ':num', paginator.total_pages | relative_url }}" class="button">
            <span><i class="fas fa-angle-double-right"></i></span>
        </a>
        {% endif %}
        
    </div>
</div>
{% endif %}
